body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.nav-list li{
    align-self: center;
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #333333;
}

.menu-icon img{
    width: 100%;
    max-width: 20px;
    height: auto;
}

.user-icon img {
    border-radius: 50%;
}

.main {
    margin-top: 100px;
}

.google-logo img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.search-bar {
    display: block;
    height: 35px;
    width: 35%;
    border: 1px solid #d1d1d1;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    margin-top: 20px;
}

.search-bar:focus {
    outline: none;
}

.button-group {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.search-button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    color: #5F6368;
    background-color: #f2f2f2;
    outline: none;
}

.search-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
}

.search-offered {
    margin-top: 20px;
    text-align: center;
}

footer {
    width: 100%;
    color: #656565;
    position: absolute;
    bottom: 0;
}

.upper-footer, .lower-footer{
    height: 3em;
    line-height: 3em;
    background-color: #F2F2F2;
    padding-left: 2em;
    border: 0.1px solid rgb(228, 228, 228);
}

.upper-footer {
    border-bottom: none;
}

footer div a {
    text-decoration: none;
    color: #656565;
    margin-right: 15px;
}

.left-footer {
    width: 50%;
    float: left;
}

.right-footer {
    float: right;
}